body, html {
  height: 100%;
  font-size: calc(2vh + 1vw);
  background-color: #2e2e2e;
  max-width: 100vw !important;
  scroll-behavior: smooth;
}
#menuToggle
{
  display: block;
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: yellow;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.languagesSwitch{
  text-align: center;
}
.bg {
  /* The image used */
  background-image: url("img/meDotted.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titleBottomText
{
	/*Positioning of text */
	  position:absolute;                  
    bottom:0;                          
    left:50%;    
    transform: translateX(-50%);
    /*Style of text */
    color: yellow;
    font-size: 100%;
    text-align: center;
    text-shadow: 2px 2px black;
}
.hideme{
	opacity: 0;
}
.dotDiv{
	height: 100%;
	background-image: url("img/dotsBG.png");
}
.titleText
{
	margin-top: 0;
	padding-top: 4vh;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 130%;
}
.aboutMeText
{
	padding: 2% 2% 2%;
	text-align: center;
	color: #c9c9c9;
}
.widthLimit
{
	width: 99.8vw;
}
.aboutMeImage
{
	max-height: 30vh;
	border-radius: 50%;
}
.resumeButton{
  white-space: nowrap;
  text-align: center;
  position:absolute;                  
  left:50%;    
  transform: translateX(-50%);
}
.dotDiv2{
  background-image: url("img/dotsBG2.png");
}
.container {
  width:100%;
  margin:0 auto;
  overflow:auto;
  padding:2%;
  overflow-x: hidden;
}
.right-content, .left-content {
  float:left;
  display:block;
  width:40%;
  padding:1% 2%;
  color:white;
  font-size: calc(0.8em + 0.5vw);
}
.left-content {
  border-right:5px dotted #666; 
  text-align:right;
}
.left-content p {
  margin:150px 0 0;
}
.right-content p {
  margin:80px 0 150px;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out; 
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}

section #services {
  text-align: center;
  transform: translatez(0);
  padding-left: 0;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 5vw;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: transparent;
  transition: all 0.5s ease;
}
section #services li a {
  color: white;
}
section #services li div:hover {
  transform: rotate(360deg);
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 3vw 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
}
@media only screen and (max-width: 530px) {
section #services li {
  width: 60px;
  height: 70px;
  display: inline-block;
  list-style: none;
}
section #services li div {
  width: 60px;
  height: 60px;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: transparent;
  transition: all 0.5s ease;
}
section #services li span {
  width: 60px;
  height: 10px;
  display: block;
  padding: 30px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
}
}