html
{
	scroll-behavior: smooth;
}
body
{
	background-color: #05004d;
	margin: 0;
    padding: 0;

}
.CVbutton
{
  background-color: #070066;
  border: none;
  color: #030033;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  height: 100vh;
  width: 20%;
}
.TimelineButton
{
  background-color: #0a0099;
  border: none;
  color: #070066;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vh;
  height: 100vh;
  width: 20%;
}
.IntroSpace
{
  background-color: #a4bcbb;
  border: none;
  color: #4c6765;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  height: 100vh;
  width: 20%;
}
.RoundIcon
{
	border-radius: 50%;
	max-width: 50%;
}
.IntroHeading
{
  font-family: Arial, Helvetica, sans-serif;
}
.IntroP
{
  padding-left: 2%;
  padding-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 160%;
}
.ProjectButton
{
  background-color: #0a0099;
  border: none;
  color: #070066;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vh;
  height: 100vh;
  width: 20%;
}
.ContactButton
{
  background-color: #070066;
  border: none;
  color: #030033;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10vh;
  height: 100vh;
  width: 20%;
}

.btn-group button {
  border-radius: 1%;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  opacity: 0.6;
  transition: 0.4s;
}
.btn-group button:hover
{
	opacity: 1;
}
.btn-group div {
  border-radius: 1%;
  float: left; /* Float the buttons side by side */
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.CVviewer
{
border:none;
width:100%;
height: 100vh;
border-radius: 1%;
opacity: 0;
}
.divOnTop
{
width: 100%;
z-index: 1;
position: absolute;
}
.divOnBottom
{
width: 100%;
position: relative;
z-index: -10;
}
.hiddenButton
{
	cursor: pointer;
	background-color: #05004d;
	border-radius: 1%;
	height: 100vh;
	width: 100%;
	border-width: 0;
	font-size: 400%;
	color: #030033;
}
.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #fefefe;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: #fefefe;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: #fefefe;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
  text-align: center;
}
.timeline .timeline-item .timeline-icon i
{
	color: #05004d;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  color: #fefefe;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}